@model CustomerApplication.Models.CustomerAddress

@{
    ViewBag.Title = "New Customer Address";
}

<h2>@ViewData["Title"]</h2>
@section Scripts {
<script>
  function FillState() {
      var countryId = $('#Country').val();
      if (countryId != null)
      {
          $.ajax({
              url: '/CustomerAddress/PopulateState',
              type: "GET",
              dataType: "JSON",
              data: { Country: countryId },
              success: function (states) {
                  $("#StateorProvince").html(""); // clear before appending new list
                  $.each(states, function (i, state) {
                      //debugger;
                      var option = document.createElement("option");
                      option.text = state.stateName;
                      option.value = parseInt(state.stateId);
                      option.id = parseInt(state.stateId);
                      var select = document.getElementById("StateorProvince");
                      select.appendChild(option);
                  });
                  var option = document.createElement("option");
                  option.text = "Other";
                  option.value = 82;
                  option.id = 82;
                  var select = document.getElementById("StateorProvince");
                  select.appendChild(option);
              }
          });
      }
  }
</script>
}
<form asp-controller="CustomerAddress" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerId" class="form-control" value=@ViewData["CustomerId"] readonly />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <label asp-for="StateorProvince" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StateorProvince, Enumerable.Empty<SelectListItem>(), "--Select Country First--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateorProvince)
            </div>
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), "--Select--",new { @class = "form-control", @onchange = "FillState()" })
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
